<form action="/reviews/comments" method="post">
<input type="hidden" value="{{review._id}}" name="reviewId">

  <fieldset>
    <legend>Kommentar schreiben</legend>
    <!-- TITLE -->
    <label for="comment-title">Titel</label><br>
    <div class="form-group">
      <input class="form-control"
        id="comment-title"
        type="text"
        name="title"
        placeholder="Titel..."/>
    </div>

    <!-- DESCRIPTION -->
      <label for="comment-content">Beschreibung</label>
    <div class="form-group">
    
      <textarea class="form-control"
      id="comment-content"
      name="content"
      rows="10"
      placeholder="Deine Kommentar..."/></textarea>
    </div>
  </fieldset>

  <!-- BUTTON -->
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Kommentar speichern</button>
  </div>
</form>