<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Rezensionen.at
      </a>
    </div>
    <div class="pull-right">
      <a href="/" class="btn btn-default navbar-btn">Hauptmenu</a>
            <a href="/logout" class="btn btn-default navbar-btn">Logout</a>

    </div>
  </div>
</nav>