<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Rezensionen</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="/main.css">
</head>
<body>
   {{> navbar}}

     <div class="container">
  {{{body}}}
     </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>