<link rel="stylesheet" href="main.css">

<form action="/login" method="post">
<div>
    {{#if error}}
    <p class="err-msg">Username or password is incorrect</p>
    {{/if}}
    <h1>Login</h1><br>
</div>
<div class="form-group">
    <label>Username: </label>
    <input 
    type="text" 
    name="username" 
    id="username" 
    placeholder="Enter your username" 
    required autofocus />
</div>

<div id="form-login" class="form-group">
<label>Password:</label>
<input type="password" 
name="password" 
id="password" 
required 
placeholder="Enter your password" />
</div>

<div>
    <input id="btn-login" type="submit" value="Login" />
</div>
<br>
<div>
    <button class="btn-signup"><a href="/signup"> Registrieren</a></button>
</div>

</form>