<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
<form method="POST" action="/reviews/{{review._id}}?_method=PUT">
  <fieldset>
    <legend>Edit Review</legend>
     <div class="form-group">
      <label for="rebookTitle">Book Title</label><br>
      <input class="form-control" id="rebookTitle" type="text" name="bookTitle" value="{{review.bookTitle}}" />
</div>
 
  <div class="form-group">
      <label for="author">Author</label><br>
      <input class="form-control" type="text" name="author" value="{{review.author}}"/>
  </div>

   <div class="form-group">
      <label for="review-description">Beschreibung</label><br>
      <textarea class="form-control" id="review-description" name="description" rows="10" />{{review.description}}</textarea>
   </div>

     <div class="form-group">
      <label for="rating">Bewerte das Buch</label><br>
      <input class="form-control" type="range" max="5" min="1" step="1" name="rating" value="{{review.rating}}"/>
     </div>

  <div class="form-group">
      <label for="keywords">Schluesselwoerter</label><br>
      <input class="form-control" type="text" name="keywords" value="{{review.keywords}}"/>
  </div>

  </fieldset>
<div class="form-group">
  <p>
    <button class="btn btn-primary" type="submit">Speicher Review</button>
  </p>
  </div>
</form>
</div>
</div>