<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
<form method="POST" action="/reviews">
    <legend>Schreibt eine neue Bewertung</legend>
   <p>
      <label for="bookTitle">Buchtitel</label><br>
      <input type="text" name="bookTitle" placeholder="Titel..."/>
      
    </p>

     <p>
      <label for="author">Author</label><br>
      <input type="text" name="author"placeholder="Autor..." />
    </p>

    <p>
      <label for="description-text">Beschreibung</label><br>
      <textarea id="description-text" name="description" placeholder="Beschreibung..." rows="10" /></textarea>
    </p>
  
  
  <p>
      <label for="rating">Bewerte das Buch</label><br>
      <input type="range" max="5" min="1" step="1" name="rating" />
    </p>

 <p>
      <label for="keywords">Schluesselwoerter</label><br>
      <input type="text" name="keywords" placeholder="Schluesselwoerter..." />
    </p>
<div class="form-group">
    <p>
      <a href="/"><button class="btn btn-secondary" >cancel</button></a>
    </p>
    
  <p>
    <button class="btn btn-primary" type="submit">Speicher Review</button>
  </p>
  </div>
</form>

</div>
</div>