<h1 id="title1">Hallo, {{username}}, schön dass du da bist!</h1>

<button class="button-3"><a id="link-review" href="/reviews/new">Neue Rezension</a></button><br>
<br>
<div class="container-index">
<div class="row flex-row">
{{#each reviews}}

<div class="col-md-4 offset-md-3">
<div class="col-md-10 ml-auto">
<h1>{{this.Title}}</h1>
  <h2><a href="/reviews/{{this._id}}">{{this.bookTitle}}</a></h2>
  <h3>Autor: {{this.author}}</h3><br>
  <h4>{{this.keywords}}</h4>
  <h5>Bewertung von: {{this.username}}</h5>
  <small>{{this.description}}</small><br>
  <h4>Bewertung: {{this.rating}} Sterne</h4>
  </div>
  </div>
  
{{/each}}
</div>
</div>

