<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<h1>{{review.bookTitle}}</h1>
<h2>Autor: {{review.author}}</h2>
<h2>{{review.rating}}/5 Sternen</h2><br>
<h4>Rezension von:{{review.username}}</h4>
<p>{{review.description}}</p>
<p>{{review.keywords}}</p>

<p><a href="/reviews/{{review._id}}/edit">Rezension bearbeiten</a></p>
</div>
</div>
<br>


<div class="row">
<div class="col-sm-6 col-sm-offset-3">
 <!-- Comment form -->
{{>comment-form}}

<hr>

<h2>Alle Kommentare</h2>
 <!-- Show Comments -->
    {{#each comments}}
      {{> comment}}
    {{/each}}

  </div>
</div>

